<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="NETePayHostList" value="x1.mercurydev.net;x2.mercurydev.net"/>
    <add key="GIFTePayHostList" value="g1.mercurydev.net;g2.mercurydev.net"/>
    <add key="MerchantIDList" value="023358150511666 (TKN)|019588466313922 (E2ETKN)|334110 (CheckAuth)"/>
    <add key="SecureDeviceList" value="NONE|PDC|PDC2|IDTMSRHID|IDTSECUREMAGHID|MTMINIMSRHID|MTSURESWIPEHID|MTIPADHID|MTMINIMSR|MTMINIMSRVCOM|MTSURESWIPEVCOM|UIC795|VX810XPI|VIVO4500M|J2650MSRVCOM|EQUINOXL5300|FECMSRHID"/>
    <add key="PadTypeList" value="None|VFI1000|IPAD100|UIC795|VX810|L5300"/>    
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
