<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="NETePayHostList" value="x1.mercurycert.net;x2.mercurycert.net|127.0.0.1"/>
    <add key="GIFTePayHostList" value="g1.mercurycert.net;g2.mercurycert.net|127.0.0.1"/>
    <add key="MerchantIDList" value="337234001 (NoE2E/NoTKN) |337234003 (TKN)|337234005 (E2E/TKN)|334110 (CheckAuth)|2108927001 (eWIC)"/>
    <add key="SecureDeviceList" value="NONE|VX805XPI_MERCURY_E2E|VX805XPI|VX805XPI_CTLS|INGENICOISC250|VERIFONEMX850|ONTRAN|IDTMSRHID|IDTSECUREMAGHID|MTMINIMSRHID|MTSURESWIPEHID|MTIPADHID|MTMINIMSR|MTMINIMSRVCOM|MTSURESWIPEVCOM|UIC795|VX810XPI|EQUINOXL5300|VERIFONEMX915|EQUINOXL5300_MERCURY_E2E"/>
    <add key="PadTypeList" value="None|VFI1000|IPAD100|UIC795|VX810|L5300|VX805|ISC250|VX850|MX915"/>  
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
