<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="NETePayHostList" value="x1.mercurydev.net;x2.mercurydev.net|x1.mercurycert.net;x2.mercurycert.net|g1.mercurydev.net;g2.mercurydev.net|127.0.0.1"/>
    <add key="GIFTePayHostList" value="g1.mercurydev.net;g2.mercurydev.net|127.0.0.1"/>
    <add key="MerchantIDList" value="023358150511666 (TKN)|019588466313922 (E2ETKN)|334110 (CheckAuth)|337234003 (CERT TKN)|337234005 (CERT E2ETKN)|"/>
    <add key="SecureDeviceList" value="NONE|VX805XPI_MERCURY_E2E|VX805XPI|VX805XPI_CTLS|INGENICOISC250|VERIFONEMX850|ONTRAN|IDTMSRHID|IDTSECUREMAGHID|MTMINIMSRHID|MTSURESWIPEHID|MTIPADHID|MTMINIMSR|MTMINIMSRVCOM|MTSURESWIPEVCOM|UIC795|VX810XPI|EQUINOXL5300|VERIFONEMX915"/>
    <add key="PadTypeList" value="None|VFI1000|IPAD100|UIC795|VX810|L5300|VX805|ISC250|VX850|MX915"/>    
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
<!--SecureDevice and PadType do not reflect every device available through the dsiPDCX. You can add or remove supported devices supported with your POS-->
<!--127.0.0.1 requires the Mercury In-Store NETePay. If the server mercurycert.net is used you must also use the Mercury CERT MID. 
PIN Debit is not supported with mercurycert.net-->
<!--mercurycert.net enables live cards to be used when testing contactless (e.g. ApplePay or GoogleWallet)-->